header {
    background-color: silver;
    background-image:
        radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 0 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 50% 100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
        radial-gradient(circle at 0 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 100px 50px;
}

h1 {
    text-align: center;
    color: black;
    text-shadow: 4px 4px 0px rgba(255, 150, 150, 1);
    transform: rotate(180deg);

}

footer {
    font-size: 50px;
    text-align: center;
    color: black;
    border: 1px solid;
    box-shadow: 4px 4px 0px rgba(255, 150, 150, 1);
    box-shadow: -1px -2px 30px 1px rgba(255, 255, 0, 1);
}

main,
footer {
    background: url(imagenes/rata.jpg) left no-repeat,
        url(imagenes/pollo.png) center no-repeat,
        url(imagenes/rata.jpg) right no-repeat;
    background-size: 100px;
}


main {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

div {
    width: 100px;
    height: 100px;
     transition-property: width height background-color font-size left top transform color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

div:hover {
    width: 500px;
    height: 500px;
    background: url(imagenes/rata.jpg);
    transition: width 2s;
}


